body {
    background-color: #044;
}

.clickable {
    cursor: pointer;
    transition: 0.5s;
    border-color: rgba(255, 255, 255, 1);
}
.clickable:hover {
    border-color: rgba(255, 255, 255, 0.4);
}

section {
    width: calc(100% - 100px);
    /*min-height: calc(100vh - 150px);*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    line-height: 1.8em;
    padding: 0 50px;
    /* background */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

section.first {
    background-color: #044;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px);
    margin: 50px 0;
}

section.text {
    color: #FFFFFF;
    text-shadow: 0 0 0.2em #000;
}

section.solid-bg {
    background-color: #044;
}

section.first .img-container {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-width: 0 0 1px 1px;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*width: 100%;*/
    /*height: 50vh;*/
}

section.first .adress {
    color: #FFF;
    text-align: center;
    padding: 10px 20px 0 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-style: italic;
}

section.first img {
    height: 400px;
}
@media screen and (max-width: 1200px) {
    section.first img {
        height: 300px;
    }
}
@media screen and (max-width: 1000px) {
    section.first img {
        height: 250px;
    }
}
@media screen and (max-width: 800px) {
    section.first img {
        height: 200px;
    }
}

section.white-on-black {
    background-blend-mode: darken;
    /*background-color: rgba(0, 0, 0, 0.4);*/
    color: #FFFFFF;
    text-shadow: 0 0 0.4em #000;
}
section.black-on-white {
    background-blend-mode: lighten;
    /*background-color: rgba(255, 255, 255, 0.4);*/
    color: #000000;
    text-shadow: 0 0 0.4em #FFF;
}

section.text p {
    text-align: justify;
    max-width: 640px;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.table .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    transition: 0.4s;
    width: 100%;
}
.table .row:hover {
    border-color: rgba(255, 255, 255, 0.4);
}
.table .row .cell {
    padding: 10px 20px 0 20px;
    font-weight: lighter;
}

#phone {
    display: none;
}

@media only screen and (max-width: 768px) {
    section.first {
        width: calc(100% - 50px);
        min-height: calc(100vh - 50px);
        margin: 0;
        padding: 25px;
    }
    section {
        width: calc(100% - 50px);
        min-height: auto;
        margin: 0;
        padding: 100px 25px;
    }
    #phone {
        display: block;
        position: fixed;
        z-index: 1;
        background-color: rgba(0, 200, 250, 0.5);
        width: 70px;
        height: 70px;
        border-radius: 30px;
        bottom: 30px;
        right: 30px;
        cursor: pointer;
    }
    #phone img {
        width: 70px;
        height: 70px;
    }
}

/*section {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/

/*section.size_half {*/
    /*min-height: calc(50vh - 50px);*/
/*}*/
/*section.size_full {*/
    /*min-height: calc(100vh - 50px);*/
/*}*/
/*section.size_auto {*/
    /*min-height: 0;*/
/*}*/

/*section.size_half.first {*/
    /*margin-top: 50px;*/
/*}*/
/*section.size_full.first {*/
    /*margin-top: 50px;*/
/*}*/
/*section.size_auto.first {*/
    /*margin-top: 50px;*/
/*}*/

/*section .content {*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*width: 80vw;*/
    /*justify-content: center;*/
/*}*/
/*section .title {*/
    /*font-size: 48px;*/
    /*margin: 25px;*/
/*}*/
/*section .subtitle {*/
    /*font-size: 24px;*/
    /*margin: 25px;*/
/*}*/
/*section .content .column {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*min-width: 50%;*/
/*}*/

/*section .column img {*/
    /*!*margin: 25px;*!*/
    /*!*width: calc(100% - 50px);*!*/
    /*width: calc(100% - 50px);*/
    /*margin: 25px;*/
    /*height: auto;*/
/*}*/
/*section .column a {*/
    /*margin: 25px;*/
/*}*/
/*section .column p {*/
    /*text-align: justify;*/
    /*margin: 25px;*/
/*}*/

/*section.table {*/
    /*padding-top: 200px;*/
    /*min-height: calc(100vh - 250px);*/
    /*justify-content: space-around;*/
/*}*/

/*section.table table {*/
    /*!*margin-top: 25px;*!*/
    /*border-collapse: collapse;*/
/*}*/

/*section.table thead tr {*/
    /*background-color: rgba(0, 102, 102, 1);*/
    /*color: rgba(255, 255, 255, 1);*/
/*}*/
/*section.table tbody tr.even {*/
    /*background-color: rgba(0, 102, 102, 0.2);*/
/*}*/
/*section.table td, section.table th {*/
    /*line-height: 40px;*/
    /*padding: 0 50px;*/
/*}*/

/*@media screen and (max-width: 768px) {*/
    /*section .content {*/
        /*flex-direction: column;*/
    /*}*/
    /*section .mobile_reversed {*/
        /*flex-direction: column-reverse;*/
    /*}*/
    /*section.size_half {*/
        /*min-height: 50vh;*/
    /*}*/
    /*section.size_full {*/
        /*min-height: 100vh;*/
    /*}*/
    /*section.size_auto {*/
        /*min-height: 0;*/
    /*}*/

    /*section.size_half.first {*/
        /*min-height: 50vh;*/
        /*margin-top: 0;*/
    /*}*/
    /*section.size_full.first {*/
        /*min-height: 100vh;*/
        /*margin-top: 0;*/
    /*}*/
    /*section.size_auto.first {*/
        /*margin-top: 0;*/
    /*}*/
    /*section .column img {*/
        /*width: 100%;*/
        /*max-height: 50vh;*/
        /*margin: 10px 0;*/
        /*object-fit: contain;*/
    /*}*/
    /*section .column p, section .column .subtitle, section .column a, section .title {*/
        /*margin: 10px;*/
    /*}*/
/*}*/

/*!*TESTS*!*/
/*section {*/
    /*!*background-color: rgba(0, 100, 100, 0.5);*!*/
/*}*/
/*section .content {*/
    /*!*background-color: rgba(100, 100, 100, 0.2);*!*/
/*}*/
