{% extends "base.html" %}

{% load static %}

{% block content %}

    <header>
        <div class="banner">
            <img src="{% static 'img/logo.png' %}">
            <div class="header">{{ header }}</div>
            <div class="contact">
                <a class="phone" href="tel://48225556677">+48 22 555 66 77</a>
                <p>ul. Bryły 123<br>01-010 Warszawa</p>
            </div>
        </div>
        <nav>
            {% for name, url in nav %}
            <a href="/{{ url }}">{{ name }}</a>
            {% endfor %}
        </nav>
    </header>

    <section class="size_auto first">
        <div class="title">
            A TITLE
        </div>
        <!-- LEFT SIDE -->
        <div class="left_subtitle">
            LEFT SUBTITLE
        </div>
        <div class="left_txt_1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="left_txt_2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <!-- RIGHT SIDE -->
        <div class="right_subtitle">
            RIGHT SUBTITLE
        </div>
        <div class="right_txt_1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="right_txt_2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
    </section>

    <section class="size_half">
        <div class="title">
            A TITLE
        </div>
        <!-- LEFT SIDE -->
        <div class="left_subtitle">
            LEFT SUBTITLE
        </div>
        <div class="left_txt_1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="left_txt_2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
    </section>

    <section class="size_half">
        <div class="title">
            A TITLE
        </div>
        <!-- RIGHT SIDE -->
        <div class="right_subtitle">
            RIGHT SUBTITLE
        </div>
        <div class="right_txt_1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="right_txt_2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
    </section>

{% endblock %}