
aside {
    position: fixed;
    top: 0;
    min-height: 100vh;
    height: 100%;
    background-color: rgba(0, 102, 102, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    overflow-y: auto;
    transition: 0.5s;
}

nav {
    min-height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav a {
    color: rgb(255, 255, 255);
    min-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    transition: 0.5s;
    padding: 0 25px;
    width: calc(100% - 50px);
}
nav a img {
    transition: 0.5s;
}
nav a:hover {
    background-color: rgba(0, 51, 51, 1);
}
nav a img {
    max-height: 60px;
    max-width: 120px;
}

header {
    width: 100%;
}
header {
    color: rgba(255, 255, 255, 1);
}
header a {
    text-decoration: none;
    font-style: italic;
    color: rgba(255,255, 255, 1);
}
header a, p, h2 {
    margin: 20px;
}

footer {
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
}
footer a {
    text-decoration: none;
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
}

#hamburger_container {
    width: calc(100% + 20px);
    height: 40px;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    left: -10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}
#hamburger {
    width: 40px;
    height: 20px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: 0.5s;
    cursor: pointer;
}
#hamburger .line {
    width: 30px;
    height: 4px;
    transition: 0.5s;
    background-color: rgba(0, 102, 102, 1);
}
#hamburger.shown .line {
    background-color: rgba(0, 102, 102, 1);
}
#curtain {
    background-color: rgba(0, 102, 102, 0.5);
    height: 100vh;
    position: fixed;
    top: 0;
    transition: 0.5s;
}

/* --- */

@media screen and (min-width: 1100px) {
    aside {
        width: 400px;
        left: 0;
    }
    #hamburger {
        display: none;
    }
    #curtain {
        display: none;
    }
    aside header, aside footer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    #main header, #main footer {
        display: none;
    }
    #hamburger_container {
        display: none;
    }
    #hamburger .line {
        background-color: rgba(0, 102, 102, 0.7);
    }
}
@media screen and (min-width: 500px) and (max-width: 1099px) {
    aside {
        width: 400px;
    }
    aside.hidden {
        left: -400px;
    }
    aside.shown {
        left: 0;
    }
    aside header, aside footer {
        display: none;
    }
    #main header {
        margin-top: 40px;
    }
    #main header, #main footer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: rgba(0, 102, 102, 1);
    }
    #hamburger.shown {
        left: 0px;
    }
    #hamburger.hidden {
        left: 100%;
        transform: rotate(720deg);
    }
    #curtain.hidden {
        left: 100%;
        width: calc(100% - 400px);
    }
    #curtain.shown {
        left: 400px;
        width: calc(100% - 400px);
    }
}
@media screen and (max-width: 499px) {
    aside {
        width: calc(100% - 100px);
    }
    aside.hidden {
        left: calc(100px - 100%);
    }
    aside.shown {
        left: 0;
    }
    aside header, aside footer {
        display: none;
    }
    #main header {
        margin-top: 40px;
    }
    #main header, #main footer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: rgba(0, 102, 102, 1);
    }
    #hamburger.shown {
        left: 0px;
    }
    #hamburger.hidden {
        left: 100%;
        transform: rotate(720deg);
    }
    #curtain.hidden {
        left: 100%;
        width: 100px;
    }
    #curtain.shown {
        left: calc(100% - 100px);
        width: 100px;
    }
}

/* --- */