{% extends "base.html" %}

{% load static %}

{% block content %}

<!--     <nav>
        {% for name, url in nav %}
        {% if url == '' %}
        <a href="/{{ url }}"><img src="{% static 'img/logo.png' %}"></a>
        {% else %}
        <a href="/{{ url }}">{{ name }}</a>
        {% endif %}
        {% endfor %}
        {% for name, url in nav %}
        {% if url == '' %}
        <a href="/{{ url }}"><img src="{% static 'img/logo.png' %}"></a>
        {% else %}
        <a href="/{{ url }}">{{ name }}</a>
        {% endif %}
        {% endfor %}
    </nav> -->

    <aside class="hidden">
        <header>
            <h2>Przychodnia stomatologiczna</h2>
            <p>ul. Bryły 6/123<br>01-012 Warszawa</p>
            <a class="phone" href="tel://48225556677">+48 22 555 66 77</a>
        </header>
        <nav>
            {% for name, url in nav %}
            {% if url == '' %}
            <a href="/{{ url }}" class="first"><img src="{% static 'img/logo.png' %}"></a>
            {% else %}
            <a href="/{{ url }}">{{ name }}</a>
            {% endif %}
            {% endfor %}
        </nav>
        <footer>
            <p>Bla bla bla, coopyrights</p>
        </footer>
    </aside>
    <div id="hamburger_container">
        <div id="hamburger" class="shown" onclick="showAside()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    <div id="curtain" class="hidden" onclick="hideAside()"></div>

    <div id="main">
        <header>
            <h2>Przychodnia stomatologiczna</h2>
            <p>ul. Bryły 6/123<br>01-012 Warszawa</p>
            <a class="phone" href="tel://48225556677">+48 22 555 66 77</a>
        </header>
        {% for sect in sections %}
        <section class="{{ sect.section_class }} loading">
            {% if sect.title %}
            <div class="title">{{ sect.title }}</div>
            {% endif %}
            {% if sect.right_subtitle and not sect.left_subtitle %}
            <div class="content mobile_reversed">
            {% else %}
            <div class="content">
            {% endif %}
                {% if sect.left_side %}
                <div class="column">
                    {% if sect.left_subtitle %}<div class="subtitle">{{ sect.left_subtitle }}</div>{% endif %}
                    {% if sect.left_img_1 %}<img src="{{ sect.left_img_1 }}">{% endif %}
                    {% for line in sect.left_txt_1 %}<p>{{ line }}</p>{% endfor %}
                    {% if sect.left_img_2 %}<img src="{{ sect.left_img_2 }}">{% endif %}
                    {% for line in sect.left_txt_2 %}<p>{{ line }}</p>{% endfor %}
                    {% if sect.left_img_3 %}<img src="{{ sect.left_img_3 }}">{% endif %}
                    <div class="hor_center">
                        {% if sect.left_btn_url %}<a href="{{ sect.left_btn_url }}">
                        {{ sect.left_btn_txt }}</a>{% endif %}
                    </div>
                </div>
                {% endif %}
                {% if sect.right_side %}
                <div class="column">
                    {% if sect.right_subtitle %}<div class="subtitle">{{ sect.right_subtitle }}</div>{% endif %}
                    {% if sect.right_img_1 %}<img src="{{ sect.right_img_1 }}">{% endif %}
                    {% for line in sect.right_txt_1 %}<p>{{ line }}</p>{% endfor %}
                    {% if sect.right_img_2 %}<img src="{{ sect.right_img_2 }}">{% endif %}
                    {% for line in sect.right_txt_2 %}<p>{{ line }}</p>{% endfor %}
                    {% if sect.right_img_3 %}<img src="{{ sect.right_img_3 }}">{% endif %}
                    <div class="hor_center">
                        {% if sect.right_btn_url %}<a href="{{ sect.right_btn_url }}">
                        {{ sect.right_btn_txt }}</a>{% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </section>
        {% endfor %}
        <footer>
            <p>Bla bla bla, coopyrights</p>
        </footer>
    </div>

{% endblock %}