* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 100px;
    font-weight: 100;
    padding-top: 5vh;
}

.font-black, .font-white {
    transition: 2s;
    transition-delay: 2s;
    transition-timing-function: ease-in;
}

.font-black {
    color: rgba(0, 0, 0, 0);
}

.font-white {
    color: rgba(255, 255, 255, 1);
}

.bg-black {
    background-color: #000;
}

.bg-white {
    background-color: #FFF;
}

.middle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.bg-image img, .bg-image-blurred img {
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

.bg-image-blurred img {
    filter: contrast(0.5) opacity(0.75);
    transition: 1s;
    transition-delay: 1s;
}

@media all and (orientation: portrait) {
    .background-image img {
        height: calc(100vh + 10px);
    }
}

@media all and (orientation: landscape) {
    .background-image img {
        width: calc(100vw + 10px);
    }
}

#toggle-button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: linear-gradient(45deg, #000000 50%, #FFFFFF 50%);
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 5vh;
}

#toggle-button:hover {
    filter: invert(1);
}
