* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 100px;
    font-weight: 100;
}

.font-black, .font-white {
    transition: 2s;
    transition-delay: 2s;
    transition-timing-function: ease-in;
}

.font-black {
    color: rgba(0, 0, 0, 0);
}

.font-white {
    color: rgba(255, 255, 255, 1);
}

.bg-black {
    background-color: #000;
}

.bg-white {
    background-color: #FFF;
}

.middle-container {
    display: flex;
    justify-content: center;
}

.bg-image img, .bg-image-blurred img {
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

.bg-image-blurred img {
    filter: blur(2px) opacity(0.5);
    transition: 1s;
    transition-delay: 1s;
}

@media all and (orientation: portrait) {
    .background-image img {
        height: calc(100vh + 10px);
    }
}

@media all and (orientation: landscape) {
    .background-image img {
        width: calc(100vw + 10px);
    }
}
