section {
    display: grid;
}

section.article {
    grid-template-areas:
        "title title"
        "left_subtitle right_subtitle"
        "left_img_1 right_img_1"
        "left_txt_1 right_txt_1"
        "left_img_2 right_img_2"
        "left_txt_2 right_txt_2"
        "left_img_3 right_img_3"
        "left_btn right_btn";
}

section.article .title {
    grid-area: title;
    background-color: #AFD;
}

section.article .left_subtitle {
    grid-area: left_subtitle;
    background-color: #CAD;
}

section.article .left_img_1 {
    grid-area: left_img_1;
    background-color: #DDA;
}

section.article .left_txt_1 {
    grid-area: left_txt_1;
    background-color: #CFF;
}

section.article .left_img_2 {
    grid-area: left_img_2;
    background-color: #AAA;
}

section.article .left_txt_2 {
    grid-area: left_txt_2;
    background-color: #DAD;
}

section.article .left_img_3 {
    grid-area: left_img_3;
    background-color: #DAC;
}

section.article .left_btn {
    grid-area: left_btn;
    background-color: #DEA;
}

section.article .right_subtitle {
    grid-area: right_subtitle;
    background-color: #AEC;
}

section.article .right_img_1 {
    grid-area: right_img_1;
    background-color: #EBC;
}

section.article .right_txt_1 {
    grid-area: right_txt_1;
    background-color: #BBE;
}

section.article .right_img_2 {
    grid-area: right_img_2;
    background-color: #BFB;
}

section.article .right_txt_2 {
    grid-area: right_txt_2;
    background-color: #ABD;
}

section.article .right_img_3 {
    grid-area: right_img_3;
    background-color: #ABF;
}

section.article .right_btn {
    grid-area: right_btn;
    background-color: #BCA;
}
