body {
    display: flex;
    flex-direction: row;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.size_half {
    min-height: calc(50vh - 50px);
}
section.size_full {
    min-height: calc(100vh - 50px);
}
section.size_auto {
    min-height: 0;
}

section.size_half.first {
    margin-top: 50px;
}
section.size_full.first {
    margin-top: 50px;
}
section.size_auto.first {
    margin-top: 50px;
}

section .content {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: center;
}
section .title {
    font-size: 48px;
    margin: 25px;
}
section .subtitle {
    font-size: 24px;
    margin: 25px;
}
section .content .column {
    display: flex;
    flex-direction: column;
    min-width: 50%;
}

section .column img {
    /*margin: 25px;*/
    /*width: calc(100% - 50px);*/
    width: calc(100% - 50px);
    margin: 25px;
    height: auto;
}
section .column a {
    margin: 25px;
}
section .column p {
    text-align: justify;
    margin: 25px;
}

section.table {
    padding-top: 200px;
    min-height: calc(100vh - 250px);
    justify-content: space-around;
}

section.table table {
    /*margin-top: 25px;*/
    border-collapse: collapse;
}

section.table thead tr {
    background-color: rgba(0, 102, 102, 1);
    color: rgba(255, 255, 255, 1);
}
section.table tbody tr.even {
    background-color: rgba(0, 102, 102, 0.2);
}
section.table td, section.table th {
    line-height: 40px;
    padding: 0 50px;
}

@media screen and (max-width: 768px) {
    section .content {
        flex-direction: column;
    }
    section .mobile_reversed {
        flex-direction: column-reverse;
    }
    section.size_half {
        min-height: 50vh;
    }
    section.size_full {
        min-height: 100vh;
    }
    section.size_auto {
        min-height: 0;
    }

    section.size_half.first {
        min-height: 50vh;
        margin-top: 0;
    }
    section.size_full.first {
        min-height: 100vh;
        margin-top: 0;
    }
    section.size_auto.first {
        margin-top: 0;
    }
    section .column img {
        width: 100%;
        max-height: 50vh;
        margin: 10px 0;
        object-fit: contain;
    }
    section .column p, section .column .subtitle, section .column a, section .title {
        margin: 10px;
    }
}

/*TESTS*/
section {
    /*background-color: rgba(0, 100, 100, 0.5);*/
}
section .content {
    /*background-color: rgba(100, 100, 100, 0.2);*/
}
