ul {
    line-height: 1.5rem;
}

li {
    margin: 1rem;
}

@media screen and (max-width: 1099px) {
    ul {
        line-height: 1.2rem;
    }
    li {
        margin: 0.5rem;
    }
}

@media screen and (max-width: 599px) {
    ul {
        line-height: 1.2rem;
    }
    li {
        margin: 0.2rem;
    }
}

