* {
    margin: 0;
    font-family: sans-serif;
}

.background img {
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    filter: blur(5px);
}

/* HEADER AND NAV */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}

header.minimal {
    top: -150px;
}

header .banner {
    height: 150px;
    /*width: 100%;*/
    transition: 0.5s;
}

header .banner img {
    max-height: 100px;
    padding: 25px;
}

nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 0.5s;
}

nav a {
    text-decoration: none;
    line-height: 50px;
    padding: 0 25px;
    cursor: pointer;
    transition: 0.5s;
}

/* SECTIONS */

section .full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 50px);
}

section .first {
    min-height: calc(100vh - 200px);
}

section .first {
    padding-top: 200px;
}

section .title {
    max-width: 1000px;
    font-size: 3em;
}

section .text {
    text-align: justify;
    transition: 0.5s;
}

section .text p {
    margin: 25px 0;
}

section .transparent {
    color: rgba(0, 0, 0, 0);
    transition: 0.5s;
}

section .content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sections section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* BODY.WIDE */
body.wide header {
    width: 100%;
}

/* BODY.ROUND */
body.round header {
    width: 100%;
}
body.round header .banner {
    border-radius: 0 0 25px 25px;
}
body.round header nav {
    border-radius: 25px;
}
@media (min-width: 1200px) {
    body.round header .banner, body.round header nav {
        width: 1000px;
    }
    section .text {
        width: 1000px;
    }
    section .content {
        width: 1000px;
    }
    section .content img {
        max-width: 500px;
    }
}
@media (min-width: 1000px) and (max-width: 1199px) {
    body.round header .banner, body.round header nav {
        width: 800px;
    }
    section .text {
        width: 800px;
    }
    section .content {
        width: 800px;
    }
    section .content img {
        max-width: 400px;
    }
}
@media (min-width: 700px) and (max-width: 999px) {
    body.round header .banner, body.round header nav {
        width: 600px;
    }
    section .text {
        width: 600px;
    }
    section .content {
        width: 600px;
    }
    section .content img {
        max-width: 300px;
    }
}

body.round button, body.round a {
    border-radius: 25px;
}

/* BODY.WIDE */
body.wide header {
    width: 100%;
}
body.wide header .banner {
    width: 100%;
}
body.wide header nav {
    width: 100%;
}

/* SEA LIGHT */

body.sea_light {
/*    background-color: rgba(230, 255, 255, 0.5);
    background-blend-mode: overlay;*/
    color: rgb(0, 0, 0);
}

body.sea_light section {
    /*background-color: rgba(230, 255, 255, 0.7);*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*background-blend-mode: overlay;*/
}

body.sea_light button {
    border-style: none;
    min-width: 200px;
    cursor: pointer;
    background-color: rgba(0, 102, 102, 0.5);
    line-height: 50px;
    transition: 0.5s;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

body.sea_light button:hover {
    background-color: rgba(0, 102, 102, 1);
}

body.sea_light section .first, body.sea_light section .full {
    background-color: rgba(230, 255, 255, 0.9);
}

body.sea_light header .banner {
    background-color: rgba(0, 102, 102, 0.5);
}

body.sea_light header nav {
    background-color: rgba(0, 102, 102, 0.9);
}

body.sea_light nav a {
    color: rgb(255, 255, 255);
}

body.sea_light nav a:hover {
    background-color: rgba(230, 255, 255, 0.2);
}

body.sea_light .sections {
    background-color: rgba(230, 255, 255, 0.9);
}

/* DESKTOP */
@media (min-width: 700px) {
    section .full {
        min-height: calc(100vh - 50px);
    }
    section .first {
        min-height: calc(100vh - 200px);
    }
    section .first {
        padding-top: 200px;
    }
    .sections {
        padding-top: 200px;
    }
    section .content img {
        padding: 25px;
    }
    section .content {
        flex-direction: row;
    }
}

/* MOBILE */
@media (max-width: 699px) {
    section .text {
        width: 100%;
        /*background-color: rgba(100, 100, 100, 0.1);*/
    }
    section .full, section .first {
        min-height: 0;
        padding: 25px;
    }
    section .first {
        padding-top: 200px;
    }
    .sections {
        padding-top: 200px;
    }
    section .content {
        padding: 25px;
    }
    section .content img {
        width: 100%;
    }
    section .content {
        flex-direction: column;
    }
}

/* WIDE */

/*body.wide header {
    position: fixed;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
    display: flex;
    flex-direction: row;
}

body.wide nav {
    height: 50px;
    justify-content: center;
    background-color: rgba(0, 102, 102, 0.8);
}

body.wide header {
    top: 0;
    height: 200px;
    background-color: rgba(0, 102, 102, 0.8);
    justify-content: space-between;
    align-items: center;
}

body.wide header.minimal {
    top: -150px;
}

body.wide header img {
    max-height: 100px;
    padding: 25px;
}

body.wide header h1 {
    padding: 25px;
}*/
